.nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 1rem;
    padding: 0 1rem;
}
.nav  ul li {
  position: relative; 
}
.nav a{
    color: #283593;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}
.nav a:hover{
    color: #AEEA00;
}
.site-logo img {
  display: block;
  font-family: 'Montserrat', sans-serif;
  height: 60px;
  width: auto;
}
.nav ul li ul {
  position: absolute;              
  display: none; 
  top: 100%;
  left: 0;
  padding: 0.5rem 0; 
  margin: 0;
  list-style: none;  
  width: max-content;        
}

.nav ul li:hover ul {
  display: block; 
  border: #283593 solid 1px; 
  background: linear-gradient(to bottom, #E8ECF9, #F8FAFC);         
}
.nav ul li ul li a {
    display: block;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}