h1{
    color:olive;
    font-size: 52px;
  }
h2{
    color:darkblue;
    font-size:42px; 
  }
p{
    color:rgb(14, 142, 255);
    font-size: 16px;
 }
div{
    color: (#AEEA00);
    font-size: small;
  }
