@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Merriweather:wght@300;400;700&display=swap');

h1{
    color:#283593;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin: 0 0 1rem 0;
    text-align: center;
}
h2{
    color:#283593;
    font-size:42px; 
    font-family: 'Montserrat', sans-serif;
    text-indent: 2rem ;
  }
p{
    color:#000000;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
 }
div{
    font-family: 'Merriweather', sans-serif;
    color:#AEEA00;
    font-size: 16px;
  }
blockquote{
    color:#64B5F6;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
}  
body { 
    background: linear-gradient(to top, #E8ECF9, #F8FAFC); 
}
.hero {
    background:url("https://images.unsplash.com/photo-1746468658999-30f6a7a8518d?q=80&w=927&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E8ECF9;
    text-align: center;
}
.hero-content h1{
    color:#283593;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    margin: 0 0 1rem 0;
}
.hero-content p{
    color:#64B5F6;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-family: 'Merriweather', sans-serif;  
    background-color:#E8ECF9; 
}
.hero-content {
    background-color:#E8ECF9;
    padding: 2rem;
    border-radius: 10px;
}
.btn {
    background-color: #AEEA00;
    color: #283593;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}
.btn:hover {
    background-color: #E8ECF9;
}
