@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Merriweather:wght@300;400;700&display=swap');

h1{
     color:#283593;
     font-size: 52px;
     font-family: 'Montserrat', sans-serif;
  }
h2{
    color:#283593;
    font-size:42px; 
    font-family: 'Montserrat', sans-serif;
  }
p{
    color:#64B5F6;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
 }
div{
    color:rgb(174,234,0);
    font-size: small;
  }
