h1{
     color:#283593;
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
  }
h2{
    color:darkblue;
    font-size:42px; 
  }
p{
    color:rgb(14, 142, 255);
    font-size: 16px;
 }
div{
    color:rgb(174,234,0);
    font-size: small;
  }
